@media only screen and (max-width: 600px) {
    #miniDesc {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 962px) {

    #miniDesc {
        margin-top: 120px !important;
    }
}
 .navbar-brand  {
    font-family:'Montserrat', sans-serif;
    
}

.info{
    color: #0054a4
}
.house{
  margin-top:2%;
  margin-left:2%;
}

#housephoto{
  width:95%
}
.houseRow{
  width:100%;
}

#doublehouseImg{
display: block;
margin-left: auto;
margin-right: auto;
width: 4%;
}

.info{
margin-top:7%;
}

p{
  max-width: 90%;
}

h2{
    color: #0054a4;
}

h6{
    color:white; font-size: 15px
}

#imgmid{
    width: 100%;
    height:100%;
}

.buttonSeeMore {
  font-size: 15px;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    margin-left:60%;
}

.buttonSeeMore:hover{
    border: 1px solid #ca5a5a; 
    background-color: #ca5a5a;
    color: white;
}

.buttonNewHouse {
    font-size: 20px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    text-align: center;
    position: absolute;
    margin-left: 9.5%;
    font-family:'Montserrat', sans-serif;
    top: 80%;
    color: white;
}

.buttonNewHouse:hover{
    background-color: white;
    color: #ca5a5a;
}

#mainImg {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: 300%;
    object-fit: cover;
}

#catch {
    text-align: center;
    position: absolute;
    margin-left: -2px;
    font-size: calc(55px + 3vw);
    font-family: 'Exo 2', sans-serif;
    top: 35%;
    color: white;
    animation: floatText 2s alternate ease-in-out
}

#miniDesc {
    margin: 0 auto;
    position: absolute;
    margin-top: 160px;
    text-align: left;
    color: rgb(216, 152, 68);
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
    font-size: calc(16px + 0.5vw);
}

#miniDescCol {
    top: 0%;
    text-align: left;
    position: absolute;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;
}

.row{
  width:100%;
}

.headerr {
    background: url(src/headphoto.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc( 100vh - 56px );
    
}

nav {
    position: fixed;
    background-color: #ffffff;
    z-index: 999;
}

nav ul li a {
    padding: 4px 20px 4px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #0054a4;
    display: inline-block;
}

.navbar-brand:hover {
    color: #00213f;
}

.navbar-expand-lg .navbar-nav {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 55px;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right:-10px;
}

.nav-item {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
}

a:hover {
    color: #e11b22;
    transition: 0.2s linear;
}

span {
    color: rgb(255, 192, 109);
    font-weight: 500;
}

span:hover {
    color: rgb(182, 11, 125);
    transition: 0.2s linear;
}

ul {
    list-style-type: none;
}

.logo {
    height: 50px;
    margin-left: 70px;
}

.container-email-phone{
  margin-left: 50px;
  
}

.footerLinks{
   text-align:left;

}

.footerLink:hover {
    color: white;
}


#socialNetworks{
    width: 20px;
    length: 10px;
   }
   
   .socialNetworksDiv{
       text-align:left;
       margin-left: 400px;
   }



/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #ca5a5a; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ad7e7e; 
  }



/* 
  animation title */
  @keyframes floatText{
    from {
      left: -50%;
    }
  
    to {
      /* left: auto; */
      left: 0.5%;
    }
  }





footer{
    background-color: #ca5a5a;
    color: white;

}

