@media only screen and (max-width: 600px) {
    #miniDesc {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 962px) {

    #miniDesc {
        margin-top: 120px !important;
    }
}

.house1{
  margin-top:2%;
  margin-left:2%;
}
#housephoto1{
  width:95%
}
.houseRow{
  width:100%;


}
#doublehouseImg{
display: block;
margin-left: auto;
margin-right: auto;
width: 4%;
}
.info{
margin-top:7%;
}
p{
  max-width: 90%;
}
h2{
    color: #0054a4 ;
}
#imgmid{
    width: 100%;
    height:100%;

}
.buttonSeeMore {
  font-size: 20px;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    margin-left:60%;
}
.buttonNewHouse {
    font-size: 20px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    text-align: center;
    position: absolute;
    margin-left: 9.5%;
    font-family:'Montserrat', sans-serif;
    top: 72%;
    color: white;

}



#mainImg {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: 300%;
    object-fit: cover;
}


#catch {
    text-align: center;
    position: absolute;
    margin-left: 20px;
    font-size: calc(90px + 2vw);
    font-family:'Montserrat', sans-serif;
    top: 38%;
    color: white;
}


#miniDesc {
    margin: 0 auto;
    position: absolute;
    margin-top: 160px;
    text-align: left;
    color: rgb(216, 152, 68);
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
    font-size: calc(16px + 0.5vw);
}

#miniDescCol {
    top: 0%;
    text-align: left;
    position: absolute;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;

}
.row{
  width:100%;
}

.headerr {
    background: url(src/headphoto.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc( 100vh - 56px ); x
}

nav {
    /* margin: 0 auto; */
    /* margin-top: 30px;
  top: 0px;
  left: 12%;
  width: 75%; */
    position: fixed;
    background-color: #ffffff;
    /* box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5); */
    /* padding: 10px 0px 10px 0px; */
    /* transform: translate3d(0, 0, 0);
    transition: 0.2s all ease-out; */
    z-index: 999;
}

nav ul li a {
    /* margin: 0 auto; */
    padding: 4px 20px 4px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #0054a4;
    display: inline-block;
}

/* .navbar-toggler {
    margin-right: 40px;
} */

/* .navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    color: #0054a4;
} */

.navbar-brand:hover {
    color: #00213f;
}

/* .navbar.navbar--hidden {
    color: none;
    opacity: 0;
    box-shadow: none;
    transform: translate3d(0, -200%, 0);
} */

.navbar-expand-lg .navbar-nav {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 55px;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right:-10px;
}

.nav-item {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
}

a:hover {
    color: #e11b22;
    transition: 0.2s linear;
}

span {
    color: rgb(255, 192, 109);
    font-weight: 500;
}

span:hover {
    color: rgb(182, 11, 125);
    transition: 0.2s linear;
}

ul {
    list-style-type: none;
}

.logo {
    height: 40px;
    margin-left: 70px;
}



/* #reg {
  color: rgb(255, 192, 109);
}

#reg:hover {
  color: rgb(182, 11, 125);
}

#logg {
  color: rgb(255, 192, 109);
}

#logg:hover {
  color: rgb(182, 11, 125);
} */

/* .dropdown-menu {
  margin: 0 auto;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  background-color: white;
  border-radius: 0%;
  visibility: visible;
} */

/* .dropdown-item {
  color: #221d23;
}

.dropdown-item:hover {
  border: none;
  background-color: #221d23;
}

#dropdown {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-right: 30px;
  color: white;
} */